<html>
    <head>
        <title>My custom website</title>
        
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="./css/bootstrap.min.css">
    </head>
    <body>
        <a href="/">Home</a>
        <h3>FIT2095 Assessments</h3>
        <ul>
            <li>Examination (Weight: 60%)</li>
            <li>Pre-reading Quiz (Weight: 10%)</li>
            <li>Workshop Quiz (Weight: 10%)</li>
            <li>Lab Assessment (Weight: 20%)</li>
        </ul>
    </body>
</html>