<html>
    <head>
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="./css/bootstrap.min.css">
    </head>
    <body>
        <a href="/">Home</a>
        <h1>Hi! My Name is Seabrook Sze Bok Ng</h1>
        <h2>My Hobbies</h2>
        <ul>
            <li>I like playing basketball with friends</li>
            <li>I enjoy coding and making python programs on github</li>
            <li>Binging netflix shows</li>
            <li>Coding for FIT2095</li>
        </ul>
    </body>
</html>