<html>
    <head>
        <title>My custom website</title>
        
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="./css/bootstrap.min.css">
    </head>
    <body>
        <a href="/">Home</a>
        <h3>FIT2095 Topics</h1>
        <ul>
            <li>Week 1: Unit Administration and Javascript Recap</li>
            <li>Week 2: Node.js: Fundamentals, Background and First Server App</li>
            <li>Week 3: Developing a Basic Site with Node.js and Express </li>
            <li>Week 4: Advanced Express.js </li>
            <li>Week 5: Advanced Express.js </li>
            <li>Week 6: Advanced MongoDB </li>
            <li>Week 7: RESTful Applications </li>
            <li>Week 8: Frontend Development: Angular </li>
            <li>Week 9: Angular II </li>
            <li>Week 10: Single Page Application Using MEAN Stack </li>
            <li>Week 11: Real-TIme Bidirectional Event-Based Communication & Cloud Service </li>
            <li>Week 12: MEAN Stack: Authentication and Cloud Services </li>
        </ul>
    </body>
</html>